{% extends "solicitudes/base_solicitudes.html" %}

{% load  static %}

{% block content %}

    {% include 'includes/header.html' %} 
    <!-- Init Grid Container -->
    <div class="grid-container ">
        <div class="grid-x grid-margin-x">           
            <h3 class="cell title"> Registro de una Sección de Arbolado </h3>
            <!-- Foundation Block: 12 columns -->
            <!-- Inicio Bloque Datos Generales -->
            <form id="formSolicitud" method="POST" autocomplete="off" class="cell grid-x align-center"> {% csrf_token %}
                <h4 class="cell subtitle" style="text-align: center; margin-bottom: 15px;"> Datos Personales </h4>
                
                <div class="cell grid-x grid-margin-x">
                    <div class="cell small-1 large-offset-4">
                        <label class="text"> Nombre: </label>        
                    </div>
                    <div class="cell small-4">
                        {{ form.full_name }}
                    </div>
                </div>

                <div class="cell grid-x grid-margin-x">
                    <div class="cell small-1 large-offset-4" style="text-align: right;">
                        <label class="text"> Email: </label>        
                    </div>
                    <div class="cell small-4">
                        {{ form.email }}
                    </div>
                </div>

                <div class="cell grid-x grid-margin-x">
                    <div class="cell small-1 large-offset-4" style="text-align: right;">
                        <label class="text"> Edad: </label>        
                    </div>
                    <div class="cell small-1">
                        {{ form.age }}
                    </div>
                </div>

            </form>
            <!-- Fin Bloque Datos Generales -->

            <!-- Inicio Bloque Ubicación de la Sección -->
            <form id="formSection" method="POST" autocomplete="off" class="cell large-6"> {% csrf_token %}
                    <h4 class="cell subtitle"> Ubicación </h4>
                    <div class="cell large-12">
                        <label class="text"> Nombre de la Ubicación:
                            {{ form_section.location_name }}
                        </label>
                    </div>

                    <div class="cell large-12">
                        <label class="text"> Tipo de Ubicación:
                            {{ form_section.location_type }}
                        </label>
                    </div>

                    <div class="cell large-12">
                        <label class="text"> Dirección:
                            {{ form_section.address }}
                        </label>
                    </div>

                    <div class="cell large-12">
                        <label class="text"> Alcaldía:
                            {{ form_section.town }}
                        </label>
                    </div>
            </form>
            <!-- Fin Bloque Ubicación de la Sección -->

            <!-- Inicio Bloque Datos del Árbol -->
                <form id="formTree" method="POST" autocomplete="off" class="cell large-6"> {% csrf_token %}
                        <h4 class="cell subtitle"> Agregar Árbol </h4>

                        <div class="cell large-12">
                            <label class="text"> Especie:
                                {{ form_tree.species }}
                            </label>
                        </div>
    
                        <div class="cell large-12">
                            <label class="text"> Descripción:
                                {{ form_tree.description }}
                            </label>
                        </div>
    
                        <div class="cell large-12">
                            <label class="text"> Fotografía: </label>
                            {{ form_tree.image }}
                        </div>
    
                        <div class="cell large-12">
                            <label class="text"> Estado de Conservación: 
                                {{ form_tree.status }}
                            </label>
                            
                        </div>
                        <!-- Foundation Block: 12 columns -->
                        <div class="cell grid-x grid-margin-x">
                            <div class="cell large-6">
                                <label class="text"> Cantidad:
                                    {{ form_tree.amount }}
                                </label>
                            </div>
                            <div class="cell large-6" style="text-align: right;">
                                <br>
                                <img id="btnAddTree" height="40px" width="40px" style="cursor: pointer;" src="{% static 'img/add.png' %}">
                            </div>
                        </div>   
                </form>
            <!-- Fin Bloque Datos del Árbol -->
            
            <!-- Inicio Bloque Tabla del Árbol -->
            <div class="cell">
                <table id="tableTree" style="margin-top: 20px;">
                    <thead style="background: #81BDA4; color:azure;">
                      <tr>
                        <th style="text-align: center;"> Especie     </th>
                        <th style="text-align: center;"> Descripción </th>
                        <th style="text-align: center;"> Estado Conservación </th>
                        <th style="text-align: center;"> Cantidad </th>
                        <th style="text-align: center;"> Acción   </th>
                      </tr>
                    </thead>
                    <tbody id="tbodyTable" style="text-align: center;">
                    </tbody>
                  </table>
            </div>
            <!-- Fin Bloque Tabla del Árbol -->
            
            <!-- Inicio Bloque Alert -->
            <div class="cell grid-x align-center">
                <div id="alert-box" style="text-align: center;"> </div>
            </div>
            <!-- Fin Bloque Alert -->
            
            <div class="cell" style="text-align: right;">
                <button style="background-color: #81BDA4;" class="button" id="btnEnviar"> Enviar Solicitud </button>
            </div>

        </div>
    </div>
    <!-- End Grid Container -->

   <!-- {% include "includes/footer.html" %} -->

{% endblock content %}
    