{% extends "arbolado/base_arbolado.html" %}

{% load  static %}

{% block content %} 
    {% include 'includes/header.html' %}
    <!-- Init Grid Container -->
    <div class="grid-container">
        <!-- Foundation Block: 12 columns with margin between them -->
        <div class="grid-x grid-margin-y grid-margin-x">
           <div class="cell rectangle-green">
             <p> Secciones de Arbolado por Alcaldía </p>
           </div>
           
            {% for town in towns  %}
            <div class="cell large-4 image-hover-wrapper">
              <a href="{% url 'arbolado_app:arbolado_sections' town.name %}"> <img src="{{ town.image.url }}">
                <span class="image-hover-wrapper-reveal">
                  <p> {{ town.name }} </p>
                </span>
              </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Grid Container -->
{% endblock content %}
    
