{% load static %}
<header>
  <div class="multilevel-offcanvas off-canvas position-right" id="offCanvasRight" data-off-canvas>
    <ul class="vertical menu" data-accordion-menu>
      <li><a href="#"> ALCALDÍAS </a>
        <ul class="menu vertical nested">
          <li><a href="{% url 'arbolado_app:arbolado_alcaldias' %}"> Consultar Secciones Arbolado </a></li>
         </ul>
      </li>
      <li><a href="#"> ENVIAR UNA SOLICITUD </a>
        <ul class="menu vertical nested">
          <li><a href="{% url 'solicitudes_app:section_register' %}"> Solicitud Registro Arbolado  </a></li>
          <li><a href="{% url 'solicitudes_app:trees_report' %}"> Solicitud Registro Indicente </a></li>
         </ul>
      </li>
      <li><a href="#"> SEGUIMIENTO DE SOLICITUDES </a>
        <ul class="menu vertical nested">
          <li><a href="{% url 'solicitudes_app:search_section_report' %}"> Registro Sección Arbolado </a></li>
          <li><a href="{% url 'solicitudes_app:search_issues_report' %}"> Registro de Incidentes   </a></li>
         </ul>
      </li>
     </ul>
    <ul class="vertical menu">
       <li><a href="#"> Iniciar Sesión </a></li>
       <li><a href="#">FAQ</a></li> 
       <li><a href="#">Terms & Conditions</a></li>
    </ul>
    
  </div>
  
  <div class="off-canvas-content" data-off-canvas-content>
    <div class="nav-bar">
        <div class="nav-bar-left">
          <a class="nav-bar-logo" href="{% url 'home_app:index' %}"> <img class="logo" src="{% static 'img/logo.png' %}""> </a>
        </div>
        <div class="nav-bar-right">
          <button class="offcanvas-trigger" type="button" data-open="offCanvasRight">
            <span class="offcanvas-trigger-text hide-for-small-only"> Menu </span>
            <div class="hamburger">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </button>
      </div>
    </div>
  </div>

</header>  
  


