.title {
    text-align: center; 
    margin-bottom: 20px;
    color: #81BDA4;
    font-weight: bold;
}

.subtitle {
    color: #FF8D76;
    font-weight: bold;
}

.text {
    font-size: larger;
}


.container {
    position: relative;
    width: 50%;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    overflow: hidden;
  }
  
.container:hover .overlay {
    bottom: 0;
    height: 100%;
    opacity: 1;
  }
  
.txt {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
