/* Map styles */
#map {
  height: 100%;
}

/* Customized styles */

.title {
    text-align: center; 
    margin-bottom: 20px;
    color: #81BDA4;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subtitle {
    color: #FF8D76;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text {
    font-size: larger;
}

.font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 500;
  color: #FF8D76;
}

.fontxt {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: black;
}

.image-hover-wrapper {
  position: relative;
}

.image-hover-wrapper a {
  display: inline-block;
  letter-spacing: normal;
  line-height: initial;
  margin: 0;
  padding: 0;
  position: relative;
}

.image-hover-wrapper a img {
  float: left;
  overflow: hidden;
  width: 100%;
}

.image-hover-wrapper a .image-hover-wrapper-reveal {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fefefe;
  font-weight: bold;
  display: inline;
  height: 100%;
  margin-left: -100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 80;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}

.image-hover-wrapper a .image-hover-wrapper-reveal:hover {
  opacity: 1;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.image-hover-wrapper a .image-hover-wrapper-reveal:hover p {
  opacity: 1;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}

.image-hover-wrapper a .image-hover-wrapper-reveal p {
  bottom: 30px;
  display: block;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* New CSS Stuff */

.div-align-center, .rectangle-pink, .rectangle-green{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-pink{
  background-color: #FF8D76;
}

.rectangle-green{
  background-color:#81BDA4;
}

/* Selects all p elements inside of the class rectangle-pink*/
.rectangle-pink p, .rectangle-green p {
  color: #fefefe;
  font-weight: bold;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 5px;
}


.sub-title {
  color: rgb(90, 88, 88);
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
}

/* Button Styles */

.search-button-pink {
  background-color: #FF8D76;
  border: 2px #FF8D76 solid;
  color: #fefefe;
}

.search-button-pink:hover {
  background-color: #f8a08e;
  border: 2px #f8a08e solid;
  color: #fefefe;
}

.search-button-green {
  background-color: #81BDA4;
  border: 2px #81BDA4 solid;
  color: #fefefe;
}

.search-button-green:hover {
  background-color: #a5e2c9;
  border: 2px #a5e2c9 solid;
  color: #fefefe;
}

/* HTML Table Format*/

.table-header-pink{
  background: #FF8D76;
  color: #fefefe;
}

.table-header-green{
  background: #81BDA4;
  color: #fefefe;
}

/* All of these elements use the same css styles 'inherit' */
th.text-format, td.text-format, .text-format-p, .text-format-a{
  text-align: center;
  border: 2px#fefefe solid;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

th.text-format{
  font-size: 16.5px;
}

td.text-format, p.text-modal-format{
  font-size: 15px;
  color: rgb(90, 88, 88);
}

p.text-modal-format{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}


/* Link Styles */

.link-green{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #81BDA4;
  font-size: 17px;
  font-weight: bold;
}

.link-green:hover{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #29af77;
  font-size: 17px;
  font-weight: bold;
}

/* For pending requests */
.text-format-p{
  font-size: 15px;
  font-weight: bold;
  color: #fc8770;
}
/* For attended requests */
.text-format-a{
  font-size: 15px;
  font-weight: bold;
  color: #6fb99a;
}

/* Format for Cards */
.card-title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(90, 88, 88);
  border-top: 4px #a5e2c9 solid;
  border-bottom: 4px#a5e2c9 solid;
}

.card-text{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-weight: bold;
  font-size: 16px;
  color: rgb(90, 88, 88);
}

.card-text span{
  color: black;
}

input.text{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}